<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <title>邻居 - 青春博客</title>
    <meta name="keywords" content="青春,爱情,博客,thinkphp,bootstrap3" />
    <meta name="description" content="青春因为爱情而美丽，欢迎来访~" />
    <meta name="version" content="v 3.0" />
    <meta name="author" content="long"/>
    <!--移动设备优先-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!--[if lt IE 9]>
    <script>window.location.href= "/error.html";</script>
    <![endif]-->
    <link rel="stylesheet" href="css/bootstrap.css" />
    <link rel="stylesheet" href="css/my.css" />
    <link rel="stylesheet" href="css/font_1477105914_3430886.css">

    <script src="js/jquery-1.10.1.min.js" ></script>
</head>
<body>
<!--顶部开始-->
<div class="top-bg">
    <div class="container">
        <div class="top-l"><a class="from">Unknown</a></div>
        <div class="top-r">
                            <span class="from qqlogin" data-url="/login-qq.html" data-callback="/index-base-callback.html" style="cursor: pointer">QQ访问</span>
                    </div>
    </div>
</div>
<!--顶部结束-->

<div class="container">

    <!--头部开始-->
    <div class="row header">
        <div class="col-lg-4 col-md-4 header-logo">
            <a title="" href="index.html"><img src="picture/logo.png" /></a>
            <h5 class="hidden-xs">青春因为爱情而美丽</h5>
        </div>
        <div class="header-menu col-lg-5 col-md-5 col-xs-12">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">导航</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand visible-xs" href="#">博客导航</a>
                </div>
                <div class="collapse navbar-collapse menu" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                                                    <li class=""><a href="index.html">首页</a></li>
                                                        <li class=""><a href="about.html">关于</a></li>
                                                        <li class="dropdown ">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" role="button" aria-expanded="false">分类&nbsp;&nbsp;<span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="class-1.html" ><i class="icon-ok-sign"></i> 笔记</a></li>
                                        <li class="divider"></li>
                                    <li><a href="class-5.html" ><i class="icon-ok-sign"></i> Blog</a></li>
                                        <li class="divider"></li>
                                    <li><a href="class-3.html" ><i class="icon-ok-sign"></i> thinkphp</a></li>
                                        <li class="divider"></li>
                                    <li><a href="class-4.html" ><i class="icon-ok-sign"></i> 其他</a></li>
                                        <li class="divider"></li>
                                                                    </ul>
                            </li>
                                                        <li class="menu-active"><a href="links.html">邻居</a></li>
                                                        <li class=""><a href="comment.html">留言</a></li>
                                                        <li class=""><a href="downloads.html">资源</a></li>
                                                        <li class=""><a href="tools.html">工具</a></li>
                                                </ul>
                    <div class="menu-bar"></div>
                    <div class="menu-clean"></div>
                </div>
            </nav>
        </div>
    </div>
    <!--头部结束-->
    <div class="row aerousel">

        
</div>
</div>
<div class="links-head-ban">
    <div class="links-head">
        <h3><i class="iconfont icon-links" style="font-size: 50px;"></i></h3>
        <h5>青春博客朋友圈</h5>
        <p>为避免版权纠纷，本站只接受网站完善并且原创更新比较稳定相关的工作室、站点、博客、论坛……</p>
        <p>申请链接请直接在留言板留言，或发送邮件至admin@loveteemo.com</p>
    </div>
</div>

<div class="container">
    <div class="row aerousel">
        <div class="links">
            <div class="links-two">
                                <div class="links-two-item">
                    <div class="links-two-inner links-two-3d">
                        <a href="http://liumingyu.me/" target="_blank" title="鸣宇自留地">
                            <h3 class="links-h3"><img src="picture/7c7d7f1d27d84ab39f841a4306405b66.gif" width="24" alt="鸣宇自留地">
                                <span>鸣宇自留地</span>
                            </h3>
                        <p class="links-p" style="margin-top: 10px">此地无银三百两</p>
                        </a>
                    </div>
                    <div class="links-two-bg links-two-3d">
                        <a href="http://liumingyu.me/" target="_blank" title="鸣宇自留地">
                            <div>
                            <img src="picture/7c7d7f1d27d84ab39f841a4306405b66.gif" width="48" alt="鸣宇自留地">
                            <h3 class="links-h3">鸣宇自留地</h3>
                            <p class="links-p">http://liumingyu.me/</p>
                            </div>
                        </a>
                    </div>
                </div>
                                <div class="links-two-item">
                    <div class="links-two-inner links-two-3d">
                        <a href="http://toilove.com/" target="_blank" title="浅听风语">
                            <h3 class="links-h3"><img src="picture/caa7a114b02b44e68f2f1227461c58cf.gif" width="24" alt="浅听风语">
                                <span>浅听风语</span>
                            </h3>
                        <p class="links-p" style="margin-top: 10px">Toilove个人博客，一个开源可供下载的免费个人博客，提供各类模板、教程，这是博主的学习旅程，欢迎大家访问，相互交流，互助学习。</p>
                        </a>
                    </div>
                    <div class="links-two-bg links-two-3d">
                        <a href="http://toilove.com/" target="_blank" title="浅听风语">
                            <div>
                            <img src="picture/caa7a114b02b44e68f2f1227461c58cf.gif" width="48" alt="浅听风语">
                            <h3 class="links-h3">浅听风语</h3>
                            <p class="links-p">http://toilove.com/</p>
                            </div>
                        </a>
                    </div>
                </div>
                            </div>
        </div>
    </div>
</div>


        <div class="col-md-8 row-left index">
            
        </div>
        <div class="col-md-4 row-right index">
            
        </div>
    </div>
</div>

<!--底部开始-->
<div class="container-foot">
    <div class="container foot">
        <div class="row foot-margin">
            <div class="col-md-3 ">
                <h4>程序相关</h4>
                <p class="foot-box">
                    <i class="iconfont icon-group"></i>&nbsp;群：&nbsp;<a href="http://jq.qq.com/?_wv=1027&k=dSjBgy" target="_blank" class="foot-my">
                    <strong>4554660101</strong>
                </a>
                    <span class="foot-box-r">
						<i class="iconfont icon-comment"></i>&nbsp;
                        <a href="http://koubei.baidu.com/w/loveteemo.com" target="_blank" class="foot-my">邀你点评</a>
                    </span>
                </p>
                <p class="foot-box">
                    <i class="iconfont icon-program"></i>&nbsp;程序：&nbsp;青春博客                    <span class="foot-box-r">
						<i class="iconfont icon-version"></i>&nbsp;版本：&nbsp;Beta 3.0                    </span>
                </p>
                <p class="foot-box">
                    <i class="iconfont icon-framework"></i>&nbsp;框架：&nbsp;ThinkPHP 5                    <span class="foot-box-r">
						<i class="iconfont icon-author"></i>&nbsp;作者：&nbsp;long                    </span>
                </p>
                <p class="foot-box">
                    源码声明：&nbsp;请参考&nbsp;
                    <a href="http://doc.loveteemo.com/">使用手册</a>
                </p>
            </div>
            <div class="col-md-3 hidden-xs">
                <h4>程序统计</h4>
                <p class="foot-box">
                    文章：&nbsp;154 篇
                    <span class="foot-box-r">
                        评论：&nbsp;18 条
                    </span>
                </p>
                <p class="foot-box">
                    建站：&nbsp;1166 天
                    <span class="foot-box-r">
                        留言：&nbsp;10 条
                    </span>
                </p>
                <p class="foot-box">
                    访问：&nbsp;5990743 次
                    <span class="foot-box-r">
                        友链：&nbsp;2 条
                    </span>
                </p>

            </div>

            <div class="col-md-3 hidden-xs">
                <h4>推荐文章</h4>
                                <p class="foot-box-art">
                    <i class="iconfont icon-comment"></i>&nbsp;<a href="article-12.html" title="PHP中private和public还有protected的区别">PHP中private和public还有protected的区别</a>
                </p>
                                <p class="foot-box-art">
                    <i class="iconfont icon-comment"></i>&nbsp;<a href="article-26.html" title="博客整合缩略图功能">博客整合缩略图功能</a>
                </p>
                                <p class="foot-box-art">
                    <i class="iconfont icon-comment"></i>&nbsp;<a href="article-46.html" title="1.8版整合fancybox相册">1.8版整合fancybox相册</a>
                </p>
                                <p class="foot-box-art">
                    <i class="iconfont icon-comment"></i>&nbsp;<a href="article-88.html" title="支付宝交易接口申请">支付宝交易接口申请</a>
                </p>
                            </div>
            <div class="col-md-3 hidden-xs">
                <h4>资源分享</h4>
                                <p class="foot-box-art">
                    <i class="iconfont icon-comment"></i>&nbsp;<a href="download-153.html" title="青春博客 2.0整理版">青春博客 2.0整理版</a>
                </p>
                                <p class="foot-box-art">
                    <i class="iconfont icon-comment"></i>&nbsp;<a href="download-20.html" title="后台模板源文件下载">后台模板源文件下载</a>
                </p>
                                <p class="foot-box-art">
                    <i class="iconfont icon-comment"></i>&nbsp;<a href="download-48.html" title="PHP插件memcache多版本分享">PHP插件memcache多版本分享</a>
                </p>
                                <p class="foot-box-art">
                    <i class="iconfont icon-comment"></i>&nbsp;<a href="download-65.html" title="sublime_text3汉化插件分享">sublime_text3汉化插件分享</a>
                </p>
                            </div>
        </div>
        <div class="row bottom">
            <div class="col-md-6 col-sm-5 bottom-left">
                © 2013 - 2017 青春博客 & 版权所有            </div>
            <div class="col-md-6 col-sm-7 bottom-right hidden-xs">
                <a href="http://loveteemo.com/admin" target="_blank">管理登陆</a> | <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1253899479'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s95.cnzz.com/z_stat.php%3Fid%3D1253899479' type='text/javascript'%3E%3C/script%3E"));</script>&nbsp;|&nbsp;鄂ICP备15000791号-1            </div>
        </div>
    </div>
</div>
<!--底部结束-->

<!--返回顶部-->
<div class="toTop hidden-xs" style="display: none;">
    <span class="glyphicon glyphicon-chevron-up toTop-img"></span>
</div>
<!--返回顶部-->
<script src="js/layer.js"></script>
<script src="js/bootstrap.js"></script>
<script src="js/common.js"></script>
</body>
</html>